*{
    margin: 0;
    padding: 0;
    
}
h1{
    text-align: center;
    padding: 25px 20px 15px 20px;

}

/********** Large - Desktop **********/

@media (min-width: 992px) {
    .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
        float: left;
        border: 1px solid rgb(209, 76, 23);
    }
    .col-lg-1 {
        width: 8.33%;
    }
    .col-lg-2 {
        width: 16.66%;
    }
    .col-lg-3 {
        width: 25%;
    }
    .col-lg-4 {
        width: 33%;
    }
    .col-lg-5 {
        width: 41.66%;
    }
    .col-lg-6 {
        width: 50%;
    }
    .col-lg-7 {
        width: 58.33%;
    }
    .col-lg-8 {
        width: 66.66%;
    }
    .col-lg-9 {
        width: 74.99%;
    }
    .col-lg-10 {
        width: 83.33%;
    }
    .col-lg-11 {
        width: 91.66%;
    }
    .col-lg-12 {
        width: 100%;
    }
}

/********** Medium - Tablet **********/

@media (min-width: 768px) and (max-width: 991px) {
    .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
        float: left;
        border: 1px solid rgb(48, 221, 212);
        color: burlywood;
    }
    .col-md-1 {
        width: 8.33%;
    }
    .col-md-2 {
        width: 16.66%;
    }
    .col-md-3 {
        width: 25%;
    }
    .col-md-4 {
        width: 33%;
    }
    .col-md-5 {
        width: 41.66%;
    }
    .col-md-6 {
        width: 50%;
    }
    .col-md-7 {
        width: 58.33%;
    }
    .col-md-8 {
        width: 66.66%;
    }
    .col-md-9 {
        width: 74.99%;
    }
    .col-md-10 {
        width: 83.33%;
    }
    .col-md-11 {
        width: 91.66%;
    }
    .col-md-12 {
        width: 100%;
    }
}   

/* ********* Small - Mobile ********* */

@media (max-width: 767px) {
    .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
        float: left;
        border: 1px solid rgb(8, 138, 8);
        color: red;
    }
    .col-sm-1 {
        width: 8.33%;
    }
    .col-sm-2 {
        width: 16.66%;
    }
    .col-sm-3 {
        width: 25%;
    }
    .col-sm-4 {
        width: 33%;
    }
    .col-sm-5 {
        width: 41.66%;
    }
    .col-sm-6 {
        width: 50%;
    }
    .col-sm-7 {
        width: 58.33%;
    }
    .col-sm-8 {
        width: 66.66%;
    }
    .col-sm-9 {
        width: 74.99%;
    }
    .col-sm-10 {
        width: 83.33%;
    }
    .col-sm-11 {
        width: 91.66%;
    }
    .col-sm-12 {
        width: 100%;
    }
}


/**************** Desktop - Media ****************/
@media (min-width:992px) {
    .row {
        color: white;

    }
    .box{
        width: 28.5%; 
        height: 200px; 
        display: flex;
        flex-direction: column;
        justify-content: center; 
        align-items: center; 
        margin: 20px;
        position: relative;
        border: solid rgb(0, 0, 0);
        
    }
    .menu-head{
        position: absolute; 
        top: 0; 
        right: 0; 
        width: 50px;
        padding: 5px;
        background-color: rgb(241, 155, 215);
        text-align: center;

    }
    .text {
        text-align: center;
        padding: 35px 20px 10px 20px;
    }
    
    #first {
        background-color: red;
        float:left;

    }
    #second {
        background-color: rgb(33, 161, 211);
        float:left;
    }
    #third {
        background-color: rgb(35, 180, 59);
        float:left;
    }
}

/**************** Tablet - Media ****************/

@media (min-width:768px) and (max-width: 991px) {
    .row {
        width: 100%;
        overflow: hidden;
    }
    .box{
        box-sizing: border-box;
        padding: 20px;
        text-align: center;
        border: 1px solid #ddd;
        background-color: lightgray;
        position: relative;
        border: solid rgb(0, 0, 0);
    }
    .menu-head{
        position: absolute; 
        top: 0; 
        right: 0; 
        width: 50px;
        padding: 5px;
        background-color: rgb(241, 155, 215);
        text-align: center;
    }
    .text {
        text-align: center;
        padding: 10px 20px 10px 20px;
    }
    #first, #second {
        width: 47%; 
        float: left;
        background-color: rgb(211, 85, 85);
        color: aliceblue;
        margin: 20px 10px 15px 10px;
    }
    #third {
        width: 96.3%; 
        background-color: rgb(67, 178, 230);
        color: aliceblue;
        clear: both;
        margin: 20px 10px 15px 10px;
    }
}

/**************** Mobile - Media ****************/

@media (max-width: 767px) {
    .row {
        width: 100%;
        overflow: hidden;
    }
    .box{
        box-sizing: border-box;
        padding: 20px;
        text-align: center;
        border: 1px solid #ddd;
        background-color: lightgray;
        position: relative;
        text-align: center;

    }
    .menu-head{
        position: absolute; 
        top: 0; 
        right: 0; 
        width: 50px;
        padding: 5px;
        background-color: rgb(241, 155, 215);
    }
    .text {
        text-align: center;
        padding: 10px 20px 10px 20px;
    }
    #first, #second, #third {
        width: 100%; 
        float: left;
        background-color: rgb(67, 178, 230);
        color: aliceblue;
        margin: 20px 10px 15px 10px;
    }
}
